<nav class="navbar navbar-light" style="background-color: #999999;">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'ToDo list', root_path, class: 'navbar-brand' %>
      <%= link_to 'All users', users_path, class: 'navbar-brand' %>

    </div>
    <div id="navbar">
      <ul class="navbar-btn navbar-link">
          <% if user_signed_in? && current_user.present? %>
            <%= link_to "#{current_user.email}", user_path(current_user) %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
          <% else %>
            <li><%= link_to 'Log In', new_user_session_path %></li>
            <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
        </ul>
      </ul>

    </div>
  </div>
</nav>